<div class="xp p-5 d-flex flex-column align-items-center ">
    <app-newells data-aos="fade-up" data-aos-offset="200" data-aos-duration="1500"  />
    <app-barcelona data-aos="fade-up" data-aos-offset="200" data-aos-duration="1500" />
    <app-psg data-aos="fade-up" data-aos-offset="200" data-aos-duration="1500" />
    <app-inter data-aos="fade-up" data-aos-offset="200" data-aos-duration="1500" />



</div>


<!-- data-aos="fade-up" data-aos-offset="50" data-aos-duration="1500" data-aos-easing="linear"  -->