.xp {
    background-image: url("../../../../assets/clubes/barce.jpg");
    background-size: cover;
    background-attachment: fixed;
}


/* .ar {
    background: linear-gradient(white 50%, red 70%, black 85%)
} */


@media(max-width: 912px) {
    .xp {
        /* background-repeat: repeat;
    
        background-size: cover; */
        background-position: center
    }
}