<div class="d-flex pt-5 flex-column align-items-center xp pb-5">
    <div class="card inicio mt-5 mb-1" data-aos="fade-up" data-aos-duration="1500">
        <div class="d-flex flex-column align-items-center" >
            <h2>¡Bienvenidos!</h2>
            <div class="d-flex align-items-center grupo-menor" >
                <img class="rounded imagen-class mb-2" [src]="image" alt="">
                <p class="text-center fs-5 m-1">En este sitio web dedicado al mejor jugador del mundo, Lionel Messi,
                    podrán conocer en
                    profundidad
                    detalles
                    de
                    este genio de nuestro deporte preferido.
                    Fotos, crónicas, vídeos y mucha información para todos los fanáticos del fútbol.
                </p>

            </div>

        </div>
    </div>

    <div class="card inicio mt-5" data-aos="fade-up" data-aos-duration="1500">
        <div class="d-flex flex-column align-items-center">
            <h2>¿Por qué elegimos a Messi?</h2>
            <div class="d-flex align-items-center grupo-menor">

                <iframe class="video" src="https://www.youtube.com/embed/FG0R6DOdXL0?si=UlljjwPY5qSIK8yG"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
                <p class="text-center fs-5 m-1">Leo es un ejemplo de resiliencia. Ha sido una fuente de inspiración
                    para millones de personas a lo largo del planeta. Su grandeza no solo se mide con goles y títulos,
                    también se
                    demuestra afuera de la cancha siendo un ejemplo de superación
                </p>
                <!-- width="560" height="315" -->

            </div>

        </div>
    </div>
    <div class="card inicio mt-5" data-aos="fade-up" data-aos-duration="1500">
        <div class="d-flex flex-column align-items-center">
            <h2>¡Somos una comunidad!</h2>
            <div class="d-flex align-items-center grupo-menor">
                <img class="rounded imagen-class mb-2" [src]="image2" alt="">
                <p class="text-center fs-5 m-1">El fandom de Messi no solo se concentra en Argentina,
                    sino que es un fenómeno mundial. Leo es capaz de generar locura en todas partes del planeta.
                    En este sitio serán testigos del sentimiento de sus fans y podrán sumarse a nosotros.
                </p>

            </div>

        </div>
    </div>

</div>