img{
    height: 85%;
    width: 100%;
}
.card-style{
    background-color: rgb(6, 6, 75);
    color: white;
    border: 4px solid black;
    border-radius: 5%;
}





@media (min-width: 250px) {
    .card-style {
        margin: 0px;
        width: 240px;
        height: 350px;
    }
}


@media(min-width: 281px) {
    .card-style {
        margin: 0px;
        width: 250px;
        height: 350px;
    }
    
}
@media(min-width: 540px){
    .card-style{
        margin: 0px;
        width: 400px
    }
}

@media(min-width: 750px) {
    .card-style {
        margin: 0px;
        width: 310px;
        height: 300px;
        
    }
    img{
        height: 85%;
        width: 100%;
    }
}

@media(min-width: 1020px){
    .card-style{
        margin: 0px;
        width: 215px;
        height: 300px
    }
}

@media(min-width: 1250px) {
    .card-style {
        margin: 0px;
        width: 270px;
        height: 340px;
    }
    img{
        height: 85%;
        width: 100%;
    }
}