<div class="card card-style d-flex flex-column mt-4">
    <img class="inter" [src]="image2" alt="">
    <h2 class="text-center">Inter Miami</h2>
    <div class="d-flex justify-content-center">
        <img [src]="image" alt="">
    </div>
    <p class="m-1">A mediados del 2023 firmó con el Inter Miami de los Estados Unidos para jugar la MLS. Messi se
        decidió
        por el club cuyo propietario es David Beckham por cuestiones deportivas y de vida familiar. En el poco tiempo
        que lleva
        en el equipo ya conquistó la Leagues Cup.
    </p>

</div>