<div class="card card-style mt-3">
    <img class="psg" [src]="image5">
    <h1 class="text-center">PSG</h1>
    <div class="row">
        <app-card-psg class="col col-sm-6 col-md-6 col-lg-6 col-xl-4" [src]="image1" [text]="texts[0].text" />
        <app-card-psg class="col col-sm-6 col-md-6 col-lg-6 col-xl-4" [src]="image6" [text]="texts[1].text" />
        <app-card-psg class="col col-sm-6 col-md-6 col-lg-6 col-xl-4" [src]="image2" [text]="texts[2].text" />
        <app-card-psg class="col col-sm-6 col-md-6 col-lg-6 col-xl-4" [src]="image3" [text]="texts[3].text" />
        <app-card-psg class="col col-sm-6 col-md-6 col-lg-6 col-xl-4" [src]="image4" [text]="texts[4].text" />
        <app-card-psg class="col col-sm-6 col-md-6 col-lg-6 col-xl-4" [src]="image7" [text]="texts[5].text" />

    </div>
</div>