<div class="xp p-5">
    <div class="row">
        <app-card class="col col-sm-6 col-md-6 col-lg-6 col-xl-4" [src]="image" [text]="texts[0].text" />
        <app-card class="col col-sm-6 col-md-6 col-lg-6 col-xl-4" [src]="image2" [text]="texts[1].text" />
        <app-card class="col col-sm-6 col-md-6 col-lg-6 col-xl-4" [src]="image3" [text]="texts[2].text" />
        <app-card class="col col-sm-6 col-md-6 col-lg-6 col-xl-4" [src]="image4" [text]="texts[3].text" />
        <app-card class="col col-sm-6 col-md-6 col-lg-6 col-xl-4" [src]="image5" [text]="texts[4].text" />
        <app-card class="col col-sm-6 col-md-6 col-lg-6 col-xl-4" [src]="image6" [text]="texts[5].text" />
        <app-video-uno class="col col-sm-6 col-md-6 col-lg-6 col-xl-4" />
        <app-video-dos class="col col-sm-6 col-md-6 col-lg-6 col-xl-4" />
    </div>
</div>