<div class="card card-style d-flex flex-column">
    <img class="afa" [src]="image3" alt="">
    <h2 class="text-center">Sub 20</h2>
    <div class="pack">
        <div class="d-flex pack-child  col col-sm-6 flex-column align-items-center card-one p-1">
            <img class="img-card" [src]="image1" alt="">
            <p>Amistoso organizado en 2004 para que Messi juegue su primer encuentro con la selección.</p>
        </div>
        <div class="d-flex pack-child col col-sm-6 flex-column align-items-center card-one">
            <img class="img-card" [src]="image2">
            <p>Festejo tras obtener el Mundial sub 20 en Holanda 2005 siendo figura decisiva.</p>
        </div>

    </div>


</div>