img {
    width: 50%;
    height: 90%;
}

.card-style {
    width: 55%;
    /* background: linear-gradient(black 5%, red 35%, black 50%); */
    background: linear-gradient(white 0%, red 3%, red 5%, black 12%, white 15%);
    color: black;
    border: 8px solid;
    opacity: 0.9;
    margin-left: 23%;
    border-radius: 3%;
}

.nob {
    position: absolute;
    width: 75px;
    height: 75px;
    z-index: 9999;
    left: 15px;
}

.height {
    height: 250px;
}

@media(max-width: 600px) {
    .nob {
        left: 0px;
        width: 90px;
        height: 75px;
    }

    .card-style {
        width: 100%;
        margin-left: 0;
    }
}


@media(max-width: 440px) {
    .card-style {
        width: 100%;
        margin-left: 0;
    }

    .nob {
        left: 0px;
        width: 30px;
        height: 30px;
    }
}
@media(max-width: 300px){
    .height{
        height: 120px;
    }
}