<div class="card card-style d-flex flex-column mb-5">
    <img class="nob" [src]="image2" alt="">
    <h2 class="text-center">Newell's</h2>
    <div class="d-flex justify-content-center height">
        <img [src]="image" alt="">
    </div>
    <p class="m-1">En 1994, con solo 6 años, ingresó en Newell's y debutó en el mes de abril. En 1995 le anotó su primer
        gol a
        Rosario Central
        y, tras varias temporadas exitosas con promedios de gol altisimos,
        en 1999 tuvo su mejor torneo. El club rosarino terminó invicto y Lionel convirtió 55 goles.</p>

</div>